.hlsoi { 
  border-bottom-width: 22px;
  margin-left: 27px;
  padding-bottom: 0px;
  margin-left: 78px;
  margin-left: 96px;
  padding-top: 69px;
  padding-top: 14px;
  margin-bottom: 44px;
  margin-right: 58px;
  border-bottom-width: 30px;
  font-size: 16px;
  margin-bottom: 22px;
  margin-left: 37px;
  line-height: 71px;
}
